<html>
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.js"></script>
    </head>

    <body>

        <button id="sendButton"></button>

        <script type="application/x-javascript" src="js/index.js" ></script>
    </body>


</html>